.custom-ton-button button {
    border-radius: 9px !important; /* remove rounded corners */
    background: transparent !important; /* remove default background */
    border: 1px solid #262121 !important;
    color: #000 !important;
    padding: 10px 18px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    margin-left: 12px !important;
  }

  .username-01 {
    margin-left: 9px;
    font-size: 17px;
  }
  